@import "./inc/_variables.scss";
@import "./inc/_mixins.scss";
@import "./inc/_fonts.scss";
@import "./inc/_animations.scss";

// Partials
@import "partials/_preloader.scss";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    position: relative;
    #app{
        position: relative;
        #fullpage{
            .section{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .fp-overflow{
                    height: 100%;
                    .app-container{
                        position: relative;
                        width: 1200px;
                        max-width: 1200px;
                        height: 100%;
                        background-color: rgba(0,0,0,.1);
                        &.screen-1{
                            position: relative;
                            background-color: $pasetPink;
                            .tim-01{
                                position: absolute;
                                width: auto;
                                height: auto;
                                top: 0;
                                right: 100px;
                                transition: all .3s;
                                transform: translateY(-100%);
                                z-index: 10;
                                &.show{
                                    animation: bounceIn .5s ease-out forwards;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}