@import "./inc/_variables.scss";
@import "./inc/_mixins.scss";

// Partials
@import "partials/_preloader.scss";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{

}