/* cyrillic-ext */
@font-face {
  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v11/cY9GfjGcW0FPpi-tWMfA79zqiA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v11/cY9GfjGcW0FPpi-tWMfJ79zqiA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic-ext */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7azYYmg8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7YjYYmg8.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInScale {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.button {
  width: 100%;
  height: auto;
  text-align: center;
}
.button a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(#000, #ccc);
  font-size: 64px;
  font-family: "Pangolin", serif;
  border-radius: 8px;
  padding: 10px 40px;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #f6d365, #fda085, #f6e3e3, #b8e0d4, #a6c1ee, #d4bfff, #fbc2eb, #f6d365);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.preloader h1 {
  font-family: "Pangolin", serif;
  font-size: 24px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  position: relative;
}
body #app {
  position: relative;
}
body #app #fullpage .section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body #app #fullpage .section .fp-overflow {
  width: 100%;
  height: 100%;
}
body #app #fullpage .section .fp-overflow .app-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 {
  position: relative;
  background: #ffdbdc url("../images/screen-01-bg.jpg") no-repeat center bottom;
  background-size: cover;
  overflow: hidden;
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01 {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 100px;
  transition: all 0.3s;
  transform: translateY(-100%);
  z-index: 10;
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01.show {
  animation: bounceIn 0.5s ease-out forwards;
}
@media (max-width: 992px) {
  body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01 {
    right: 20px;
    max-width: 300px;
  }
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog,
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog-02 {
  width: calc(45% - 40px);
  height: auto;
  position: absolute;
  bottom: 30%;
  left: 300px;
  transform: scale(0);
  transition: 0.3s;
  z-index: 10;
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog.show,
body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog-02.show {
  animation: bounceInScale 0.3s ease-out forwards;
}
@media (max-width: 992px) {
  body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog,
  body #app #fullpage .section .fp-overflow .app-container.screen-1 .tim-01-dialog-02 {
    width: calc(60% - 40px);
    bottom: 30%;
    left: 50px;
  }
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .baloons-01 {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  transition: all 1s;
  transform: translateY(100%);
  z-index: 9;
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .baloons-01.show {
  transform: translateY(0%);
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged {
  position: absolute;
  left: 0;
  bottom: 270px;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
}
@media (max-width: 992px) {
  body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged {
    bottom: 100px;
  }
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged a {
  display: inline-block;
  animation: heartbeat 0.5s ease infinite;
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged a img {
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged a img {
    width: 200px;
    height: auto;
  }
}
body #app #fullpage .section .fp-overflow .app-container.screen-1 .button-imaged.show {
  opacity: 1;
}/*# sourceMappingURL=app.css.map */